.sns{
    display: flex;
    flex-wrap : wrap;
    justify-content: space-around;
    align-items: center;
    height: 800px;
    position: relative;
    left: -30px;
}

.sns__empty{
    width: 200px;
    height: 200px;
    border: 2px solid rgba(0,0,0,0.2);
}


.sns__section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95vh;
}

.sns__empty__text{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.sns__tstory{
    position: relative;
    left: 15px;
}
.sns__github{
    position: relative;
    left: 17px;
}
.sns_cursor:hover{
    will-change: transform;
    animation: bigsmall 0.5s ease-in-out forwards;
}

@keyframes bigsmall {
    from {
        transform: scale(1)
    }
    to{
        transform: scale(1.2)
        
    }
}
