.sns{
    display: flex;
    flex-wrap : wrap;
    justify-content: space-around;
    align-items: center;
    height: 800px;
    position: relative;
    left: -30px;
}
.sns__section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95vh;
    position: relative;
    left: 10px;
}

.sns_cursor:hover{
    will-change: transform;
    animation: bigsmall 0.5s ease-in-out forwards;
}

@keyframes bigsmall {
    from {
        transform: scale(1)
    }
    to{
        transform: scale(1.2)
        
    }
}

@media all and (max-width : 500px){
    .sns_cursor img{
        height: 100px;
        width: 100px;
    }
    .sns{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: -5px;
    }
    .sns__section:first-child{
        margin-bottom: -100px;
    }
}
